@import "normalize.css";

@font-face
{
	font-family: 'FontAwesome';
	src:url('../font/fontawesome-webfont.eot');
	src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
  	font-style: normal;
}

ul
{
	list-style: none;
}

.container
{
	width: 910px;
	margin: 0 auto;
	color: #787878;
	font-family: 微软雅黑;
}

.left-side
{
	width: 33%;
	float: left;
	background: #5dc3b1;
}

.right-side
{
	width: 67%;
	float: left;
	background: #f1eee8;
}

.left-wrap
{
	width: 222px;
	margin: 50px auto;
	text-align: center;
}

.head-img img
{
	width: 160px;
	border-radius: 140px;
}

.username
{
	color: #f1eee8;
}

.slogan
{
	border-top: 2px solid #1d7d71;
	border-bottom: 1px solid #1d7d71;
	line-height: 12px;
}

.skill
{
	color: #fff;
}

.skill ul
{
	padding: 0;
	overflow: hidden;
}

.skill ul li
{
	margin-bottom: 10px;
	overflow: hidden;
}

.skill .skill-title
{
	width: 72px;
	float: left;
	text-align: right;
	margin-right: 8px;
}

.skill-score
{
	float: left;
	width: 140px;
	margin-top: 4px;
	background: #3eb79f;
	border-radius: 10px;
}

.ss
{
	background: #fff;
	width: 140px;
	height: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.s6
{
	width: 60%;
}

.s8
{
	width: 80%;
}

.personal-tip
{
	text-align: left;
	font-size: 14px;
}

/*联系方式*/

.contact ul
{
	padding: 0;
}

.contact a
{
	color: #787878;
}

.contact li
{
	font-style: normal;
	line-height: 1.4;
	font-size: 18px;
	word-break:break-all;
}

.contact-phone
{
	padding-left: 28px;
}

.contact-phone:before
{
	font-family: FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform: translate(0,0);
	content: "\f095";
	width: 28px;
	margin-left: -28px;
	display: inline-block;
}

.contact-email
{
	padding-left: 28px;
}

.contact-email:before
{
	font-family: FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform: translate(0,0);
	content: "\f0e0";
	width: 28px;
	margin-left: -28px;
	display: inline-block;
}

.contact-github
{
	padding-left: 28px;
}

.contact-github:before
{
	font-family: FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform: translate(0,0);
	content: "\f092";
	width: 28px;
	margin-left: -28px;
	display: inline-block;
}


/*右侧的内容*/
.right-wrap
{
	padding-left: 30px;
	padding-right: 30px;
}

.section
{
	margin-bottom: 50px;
}

.section h1
{
	margin-bottom: 0;
}

.section-info
{
	overflow: hidden;
}

.section-info h2
{
	float: left;
}

.section-info h2,.section-info h2 a
{
	color: #5dc3b1;
	font-size: 23px;
}

.section-info h2 small
{
	font-size: 14px;
	color: #787878;
	margin-left: 10px;
}

.section-skill-info
{
	font-size: 14px;
	float: right;
}

.section-skill-info ul
{
	overflow: hidden;
	padding: 0;
	margin: 25px 0;
}

.section-skill-info ul li
{
	float: left;
	color: #fff;
	background: #5dc3b1;
	margin-right: 10px;
	padding: 2px 8px;
	font-size: 12px;
}

.section-content
{
	clear: both;
}

.section-date
{
	font-size: 12px;
	color: #1d7d71;
}

.section-content p
{
	margin-top: 10px;
	margin-bottom: 10px;
}